<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSS - Centered Horizontal & Vertical 02</title>
    <style>
        body {
            position: relative;
        }
        p {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100px;
            line-height: 100px;
            margin: -50px 0 0 -50px;
            background: #99f17e;
            text-align: center;
            font: arial;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <p>Hello world!</p>
</body>
</html>