body { margin: 0; }
.clr { clear: both; }

h4 {
  padding: 0;
  margin: 0;
}

nav {
  box-sizing: border-box;
  width: 100%;
  line-height: 40px;
  padding: 0 10%;
  background-color: #0cbeeb;
}

.brand {
  float: left;
  color: #f5f5f5;
}

.nav-links {
  float: right;
  padding: 0;
  margin: 0;
  transition: all 1s ease;
  background: inherit;
}

.nav-links li {
  display: inline-block;
  width: 80px;
  line-height: 40px;
  list-style: none;
  text-align: center;
}

.nav-links li a {
  color: #b7edfa;
  text-decoration: none;
}

.toggle-btn {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  float: right;
  box-sizing: border-box;
  padding: 10px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background: #0493b7;
}

.toggle-btn div {
  background-color: #f6f6f6;
  width: 25px;
  height: 3px;
  transition: all 0.5s ease;
}

@media screen and (max-width: 578px) {
  nav {padding: 0 0 0 20px;}
  
  .nav-links {
    position: absolute;
    top: 40px;
    right: -100%;
    width: 100%;
    height: 100%;
  }
  
  .nav-links li {width: 100%;}
  .nav-links li a {opacity: 1;}
  .toggle-btn {display: flex;}
}

.nav-active {right: 0;}
.nav-active li a {opacity: 1;}
.toggle-btn-active .line1 {transform: rotate(-45deg) translate(-3px, 3px);}
.toggle-btn-active .line2 {opacity: 0;}
.toggle-btn-active .line3 {transform: rotate(45deg) translate(-6px, -6px);}