<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="CONTENT-TYPE" content="text/html; charset=UTF-8">
    <title>Active Navigation by Scrolling</title>
    <link href="style.css" rel="stylesheet" />
</head>
<body>
    
    <nav id="navbar">
        <a href="#section1" class="nav-link active">Section 1</a>
        <a href="#section2" class="nav-link">Section 2</a>
        <a href="#section3" class="nav-link">Section 3</a>
    </nav>
    <section id="section1">Konten Section 1</section>
    <section id="section2">Konten Section 2</section>
    <section id="section3">Konten Section 3</section>
    
</body>
<script src="index.js"></script>
</html>