body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding-top: 70px;
}

.notification {
    padding: 15px;
    color: white;
    font-size: 16px;
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
}

.offline { background-color: red; }
.online { background-color: green; }
.reconnected { background-color: orange; }