body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #ddd;
}

.search-box {
  position: relative;
  width: 340px;
  margin-bottom: 15px;
}

.search-box input {
  color: #666;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
}

.search-box > input:focus {
  border: 3px solid #8585ff;
  outline: none;
}

.search-box input::placeholder {color: #999;}

#clearBtn {
  position: absolute;
  right: -5px;
  top: 45%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 24px;
  font-family: Segoe UI !important;
  font-weight: bold;
  color: #555;
  display: none;
}

.highlight {background-color: yellow;}
#customSuggestions {
  position: absolute;
  background: white;
  border: 1px solid #ccc;
  list-style: none;
  margin: 0;
  padding: 10px;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  z-index: 999;
  display: none;
}

.controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 15px;
}

.controls button {
  background-color: #8585ff;
  line-height: 20px;
  color: #fff;
  font-size: 12px;
  border: none;
}

.controls input[type="file"] {
  margin: auto;
  background-color: #fff;
}

.controls button, .controls input[type="file"] {
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.table-container {overflow-x: auto;}

table {
  width: 100%;
  background-color: #ccc;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  overflow: hidden;
}

th, td {
  padding: 12px 15px;
  border-bottom: 1px solid #eee;
  text-align: centwr;
}

th {
  background-color: #6a6a6a;
  color: #ddd;
}

tbody {
  background-color: #fff;
  color: #555;
}

tr:hover {background-color: #f9f9f9;}

code {
  background: #ddd;
  padding: 2px 4px;
  border-radius: 4px;
}

.copy-icon {
  position: absolute;
  top: 0;
  right: 0;
  padding: 2.5px;
  color: #fff;
  background-color: #555;
}