<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="top_nav.css">
    <title>CSS - Horizontal Menu</title>
    <style>
        /* Jangan dibaca, kode gak penting! */
        h3 {
            width: 960px;
            margin: 20px auto;
        }
    </style>
</head>
<body>
    <h3>Nav with Inline-Block Style</h3>
    <ul class="inline-block-nav">
        <li><a href="#">Menu 1</a></li>
        <li><a href="#">Menu 2</a></li>
        <li><a href="#">Menu 3</a></li>
        <li><a href="#">Menu 4</a></li>
    </ul>
    <h3>Nav with Block Style</h3>
    <ul class="block-nav">
        <li><a href="#">Menu 1</a></li>
        <li><a href="#">Menu 2</a></li>
        <li><a href="#">Menu 3</a></li>
        <li><a href="#">Menu 4</a></li>
    </ul>
    <h3>Nav with Inline-Table Style</h3>
    <ul class="inline-table-nav">
        <li><a href="#">Menu 1</a></li>
        <li><a href="#">Menu 2</a></li>
        <li><a href="#">Menu 3</a></li>
        <li><a href="#">Menu 4</a></li>
    </ul>
    <h3>Nav with Inline Style</h3>
    <ul class="inline-nav">
        <li><a href="#">Menu 1</a></li>
        <li><a href="#">Menu 2</a></li>
        <li><a href="#">Menu 3</a></li>
        <li><a href="#">Menu 4</a></li>
    </ul>
    <h3>Nav with Table Cell Style</h3>
    <ul class="table-cell-nav">
        <li><a href="#">Menu 1</a></li>
        <li><a href="#">Menu 2</a></li>
        <li><a href="#">Menu 3</a></li>
        <li><a href="#">Menu 4</a></li>
    </ul>
    <h3>Nav with Flex Style</h3>
    <ul class="flex-nav">
        <li><a href="#">Menu 1</a></li>
        <li><a href="#">Menu 2</a></li>
        <li><a href="#">Menu 3</a></li>
        <li><a href="#">Menu 4</a></li>
    </ul>
</body>
</html>