<!DOCTYPE html><html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resizable Table</title>
    <link href="style.css" rel="stylesheet" />
</head>
<body>
    
    <table>
        <thead>
            <tr>
                <th>Nama <div class="resizer"></div></th>
                <th>Usia <div class="resizer"></div></th>
                <th>Kota <div class="resizer"></div></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>John</td>
                <td>25</td>
                <td>Jakarta</td>
            </tr>
            <tr>
                <td>Jane</td>
                <td>30</td>
                <td>Bandung</td>
            </tr>
        </tbody>
    </table>
    
</body>
<script src="index.js"></script>
</html>