* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background: #ddd;
  display: flex;
}

.sidebar {
  width: 25%;
  min-height: 100vh;
  background: linear-gradient(to bottom, #4f46e5, #9333ea);
  color: white;
  padding: 20px 0;
  transition: 0.3s ease;
}

.sidebar h2 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 22px;
}

.nav-item {
  padding: 14px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  position: relative;
}

.nav-item:hover {
  background: rgba(255, 255, 255, 0.1);
}

.nav-item i {
  margin-right: 12px;
}

.submenu {
  display: none;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.1);
}

.submenu a {
  padding: 12px 48px;
  color: white;
  text-decoration: none;
  font-size: 14px;
}

.submenu .fas {
  width: 8px;
  height: 8px;
  margin-right: 24px;  
}

.submenu a:hover {
  background: rgba(255, 255, 255, 0.15);
}

.content {
  position: relative;
  width: 75%;
  padding: 40px 60px;
  box-sizing: border-box;
  background-color: #fff;
}

.toggle-btn {
  display: none;
  position: absolute;
  top: 20px;
  left: 20px;
  background: #4f46e5;
  color: white;
  border: none;
  padding: 10px 12px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 6px;
  z-index: 1001;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4); /* Transparan gelap */
  z-index: 999;
  display: none;
  transition: 0.3s ease;
}

/* Responsive */
@media (max-width: 768px) {
  body {
    display: static;
  }
  
  .sidebar {
    width: 300px;
    transform: translateX(-100%);
    position: fixed;
    z-index: 1000;
  }
  
  .sidebar.active {
    transform: translateX(0);
  }

  .toggle-btn {
    display: block;
  }

  .content {
    padding-top: 70px;
    width: 100%;
  }
}