body {
    background-color: #1a1a2e;
    margin: 0;
    height: 720px;
}
nav {
    display: flex;
    flex-direction: column;
    background-color: #3a3a5e;
    width: 150px;
    height: 100%;
}
nav a {
    padding-left: 10px;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    position: relative;
    line-height: 40px;
}
.active {
    background-color: #6a2c9a;
    font-weight: bold;
}
.active::after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    border-top: 17.5px solid transparent;
    border-bottom: 17.5px solid transparent;
    border-right: 17.5px solid #1a1a2e;
    z-index: 100;
}

