<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="CONTENT-TYPE" content="text/html; charset=UTF-8">
    <title>Navigation with Halved Border</title>
    <link href="style.css" rel="stylesheet" />
</head>
<body>
    
    <nav>
        <a href="#" class="menu-link">Home</a>
        <a href="#" class="menu-link">About</a>
        <a href="#" class="menu-link">Carrier</a>
        <a href="#" class="menu-link">Products</a>
        <a href="#" class="menu-link">Help</a>
    </nav>
    
</body>
</html>