.container h3{text-align: center;}
.box p{
    text-align: center;
    transform: translateY(-10px);
}
.container iframe{transform: translateX(100px);}
.tips iframe{transform: translateX(250px);}
.tips h2, .tips p{
    text-align: center;
    margin: 10px auto;
}
form input{
    margin-top: 40px;
    padding: 10px;
    margin-left: 40px;
}