<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="CONTENT-TYPE" content="text/html; charset=UTF-8">
    <title>Back to The Top</title>
    <link href="style.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.5.2/css/all.min.css">
</head>
<body>
    
    <div>Scrolling down the page to display the button</div>
    <button id="backToTop">
        <i class="fa-solid fa-arrow-up"></i>
    </button>
    
</body>
<script src="index.js"></script>
</html>
