div {
  margin: 0 auto 1200px;
  width: 300px;
  line-height: 120px;
  background-color: #dddddd;
  text-align: center;
  font-size: 14px;
}

#backToTop {
    width: 60px;
    height: 60px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: none;
    font-size: 30px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1000;
    text-align: center;
}

/* disabke all default properties
button { all: unset; }
button:active {
  transform: none;
  box-shadow: none;
  background-color: none;
}
*/

button {
  background: none;
  border: none;
  box-shadow: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-tap-highlight-color: transparent;
  font: inherit;
  color: inherit;
  text-align: inherit;
  cursor: pointer;
}

button { -webkit-tap-highlight-color: transparent; }