<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Linear Gradients</title>
  <link href="style.css" rel="stylesheet" />
</head>
<body>
  
  <h2>Linear Gradients</h2>
  <canvas id="colorPicker" height="200"></canvas>
  <div class="color-container">
    <div class="color-box-wrapper">
      <div class="color-box" id="color1Box">Color 1</div>
      <div class="color-code" id="color1Code">#ff0000</div>
      <input type="text" id="color1Input" class="color-input" placeholder="#hex" />
    </div>
    <div class="color-box-wrapper">
      <div class="color-box" id="color2Box">Color 2</div>
      <div class="color-code" id="color2Code">#00ffff</div>
      <input type="text" id="color2Input" class="color-input" placeholder="#hex" />
    </div>
    <div class="color-box-wrapper">
      <div class="color-box grad-box" id="gradBox">Gradation</div>
      <div class="color-code" id="gradLabel">Custom Gradient</div>
    </div>
  </div>
  
</body>
<script src="index.js"></script>
</html>