<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="CONTENT-TYPE" content="text/html; charset=UTF-8">
    <title>Scrolling Page Animation</title>
    <link href="style.css" rel="stylesheet" />
</head>
<body>
    
    <div class="box">Some text of page.</div>
    <div class="box">A JavaScript code.</div>
    <div class="box">Good idea.</div>
    <div class="box">Looking for something?</div>
    <div class="box">Just take time.</div>
    <div class="box">Date of your date.</div>
    <div class="box">A good company.</div>
    <div class="box">Better luck.</div>
    <div class="box">The city of game.</div>
    
</body>
<script src="index.js"></script>
</html>