<!DOCTYPE html>
<html lang="id">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Image Modal Pop Uo</title>
  <link href="style.css" rel="stylesheet" />
</head>
<body>
  
  <h2>Click the Image to view:</h2>
  <img src="../_img/1.jpg" alt="Preview" id="previewImage">

  <!-- Modal -->
  <div id="imageModal" class="modal">
    <span class="close" onclick="closeModal()">&times;</span>
    <img id="popupImage" class="modal-content">
  </div>
  
</body>
<script src="index.js"></script>
</html>